/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* Replace these basic styles with Tailwind CSS once functionality is finished */
.app-container {
    display: flex;
    height: 100vh;
}

/* Nav links */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}

/* Leftmost nav, always displayed */
.main-menu {
    flex-basis: 5%;
    border: 1px solid red;
}

/* Sidebar: only open when expanded by user */
.sidebar {
    flex-basis: 20%;
    border: 1px solid blue;
}

.sidebar-main-menu,
.sidebar-sub-menu {
    border: 1px solid lightcoral;
}

.note-editor {
    flex-basis: 75%;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;

}

.note {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.note-title {
    /* Fixed height */
    flex: 0 1 30px; 
}

.note-created, 
.note-last-updated {
    /* Sized to content */
    flex: 0 1 auto;
}

.note-content {
    border: 1px solid gray;
    /* Take up remaining vertical space */
    flex: 1 1 auto;
}